
    
    body {
        background-color:#B2C8DF;
        }
        hr {
            border-style:none;
            border-top-style: dotted;
            border-color:gray;
            border-width:7px;
            width: 10%;
            }

            h1{

            color: #003865;
            }

                h3{

                    color: #377D71;
                    }
